asgiref==3.5.2
astroid==2.9.3
autopep8==1.6.0
Django==4.0.6
gunicorn==20.0.4
isort==5.10.1
lazy-object-proxy==1.7.1
mccabe==0.6.1
pep8==1.7.1
platformdirs==2.5.1
psycopg2==2.9.3
pycodestyle==2.8.0
pylint==2.12.2
python-decouple==3.6
pytz==2022.1
sqlparse==0.4.2
toml==0.10.2
typing-extensions==4.1.1
wrapt==1.13.3
